#createForm {
  height: 53vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  background-color: #6C805CDD;
  font-family: play;
  color: #333;
}

.container {
  background-color: #6C805C;
  border: 1px solid black;
}

label {
  color: #333 !important;
}
