<div class="container-fluid" id="admin">
  <div id="page-wrapper">
    <div id="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
          <div class="row">
            <div class="col-9 col-lg-9 d-flex justify-content-start">
              <h2>{{ username }} DASHBOARD</h2>
            </div>
            <div class="col-3 col-md-3 d-flex justify-content-end">
              <button class="btn btn-secondary" [routerLink]="['/']">
                <img src="../../assets/img/cross.png" alt="" srcset="../../assets/img/cross.png 1x">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="page-inner">
        <div class="container d-none d-md-block">
          <div class="row d-flex justify-content-between">
            <!-- <div class="card col-3 col-lg-2">

            <div class="btn btn-secondary">
              <a class="nav-link" routerLink="/post">Posts</a>
            </div>
          </div>
          <div class="card col-3 col-lg-2">
            <div class="btn btn-secondary">
              <a class="nav-link" routerLink="users">Members</a>
            </div>
          </div>
          <div class="card col-3 col-lg-2">
            <div class="btn btn-secondary">
              <a class="nav-link" routerLink="member/create">Create Member</a>
            </div>
          </div>
          <div class="card col-3 col-lg-2">
            <div class="btn btn-secondary">
              <a class="nav-link" routerLink="post/create">Create post</a>
            </div>
          </div> -->
            <div class="card col-6">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/award2.png">
                  <h3>Posts</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="post/create">Create post</a>
                  </li>
                </div>
              </div>
            </div>
            <div class="card col-6">
              <div class="face face1">
                <div class="content">
                  <a href="#page6" target="_blank">
                    <img src="../../assets/img/board.png">
                  </a>
                  <h3>Projet</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                  <li class="nav-item" routerLinkActive="active">
                    <a href="#" routerLink="post">Posts</a>
                  </li>
                </div>
              </div>
            </div>
            <div class="card col-6">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/launch_128.png">
                  <h3>Services</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                  <li class="nav-item" routerLinkActive="active">
                    <a href="#" routerLink="users">Members</a>
                  </li>
                </div>
              </div>
            </div>
            <div class="card col-6">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/design.png">
                  <h3>Design</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                  <a href="#work">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- <ul>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/post">Posts</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="post/create">Create post</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="members">Members</a>
          </li>
          <li class="nav-item" routerLinkActive="active">

            <a class="nav-link" routerLink="member/create">Create Member</a>
          </li>
        </ul> -->
        </div>
        <div class="container2  d-xs-block d-md-none">
          <div class="row">
            <div class="card2 col-2 offset-1">
              <div class="face face1">
                <div class="content">
                  <a href="#" routerLink="post"><img src="../../assets/img/award2.png">
                    <h3>Posts</h3>
                  </a>

                </div>
              </div>
            </div>
            <div class="card2 col-2 offset-1">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/award2.png">
                  <a href="#" routerLink="post/create">
                    <h3>Create</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="card2 col-2 offset-1">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/award2.png">
                  <h3>Posts</h3>
                </div>
              </div>
            </div>
            <div class="card2 col-2 offset-1">
              <div class="face face1">
                <div class="content">
                  <img src="../../assets/img/award2.png">
                  <h3>Posts</h3>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <app-post></app-post> -->

      </div>
      <app-admin-post></app-admin-post>
      <app-work-in-progress></app-work-in-progress>
    </div>
  </div>
