#admin {
  height: 80vh;
  width: 97vw;
  position: absolute;
  top: 200%;
  overflow-y: scroll;

  animation: appear .5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#wrapper {
  width: 79vw;
  margin-top: 0;
}

#page-wrapper {
  padding: 15px 15px;
  min-height: 600px;
  background: #F3F3F3;
  height: 100vh;
  /* overflow-y: scroll; */
  background-color: #6C805C;
  width: 99%;
}

#page-inner {
  width: 115%;
  margin: 10px 20px 10px 0px;
  background-color: #00000033;
  padding: 10px;
  min-height: 420px;
  line-height: 50px;
  height: 100vh;
  padding-top: 20%;
}

.navbar-inverse {

  background-color: #214761;
  border-color: #F0F0F0;
  min-height: 80px;
  width: 115%;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 99;
}
